@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */

*{
    margin: 0;
    border: 0;    
    font-family: Poppins;
    /* font-weight: 200; */
    /* border: solid 1px; */
}

html{
    /* border: red solid; */
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1600px;
    /* border: solid; */
    margin: auto;    
    box-shadow: 0px 10px 14px -7px #505050;
}
/* =================contains logo, menu item and REgister now button ================ */
.header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* border: solid; */
    padding: 25px;
    max-width: 1600px;    
}

.logo{
    /* display: block; */
    /* border: solid; */
    /* max-width: 10vw; */
}

.menu-items{
    display: flex;
    list-style: none;   
    column-gap: 2em;
    /* border: solid; */
    /* max-width: 89vw; */
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 15px;
}

.btn-register-now{
    /* width: 8em; */
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: end;
}

.register-now{
    /* width: 8em; */
    border: 2px #24A7FF solid;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #24A7FF;
    background-color: #ffff;
}

.register-now:hover{
    color: #fff;
    background-color: #24A7FF;
}

/* this section contains main highlight with their pictures */

.main-highlight{
    display: flex;      
    flex-direction: column;
    /* border: solid blue; */
    /* max-width: 0vw;   */
  }
  
  .main-highlight-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: solid green; */
    padding-top: 5vw;
    padding-bottom: 5vw;    
    max-width: 80vw;
    height: auto;
    margin: auto;
  }

  .main-highlight-image{
    /* border: solid; */
    /* width: 600px; */
    /* height: 500px; */
    width: 100%;
    padding-top: 5%;
  }
  
  .main-highlight-card-image{
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  .right-side{
    /* border: red solid; */
    max-width: 850px;
    display: grid;
    padding-left: 4vw;
    height: auto;
  }
  
  .main{  /* button */
    width: 15vw;
    height: 4vw;
    color: #ffff;
    font-size: 1vw;
    /* background-color: #0680EF; */
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #067eef9d 5%, #0680EF 100%);
    border-radius: 8px;
    font-weight: 400;
    margin: auto;
  }
  
  .right-side h1{
    font-family: Kanit;
    font-size: 3vw;    
  }
  
  .right-side h4{
    font-family: poppins;
    color: #758283;
    font-size: 1vw;
  }

/* Main highlight section end */

/* Services section */
.services{
    display: grid;
    max-width: 1600px;
    margin: auto;
}

.services-heading{
    /* border: solid; */
    display: flex;    
    column-gap: 2em;    
    margin: auto;    
}

.services-heading h1{
    font-family: Kanit;
    font-size: 2em;
    letter-spacing: 2px;        
}
.services-heading h4{
    padding-top: 1em;
    font-family: Kanit;
    font-size: 1em;;
    color: #758283;
}

.service-cards{
    /* max-width: 1600px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: solid; */
    
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* height: 700px; */
    gap: 65px;
    max-width: 75vw;
}

.service-card h2{
    font-family: kanit;
    padding-top: 15px;
    padding-bottom: 15px;
}

.service-card h4{
    font-size: 15px;
    color: #758283;
}

/* Service section Ends */

/* Pricing section start */

.pricing{
    /* display: block; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,#0AC5F9, #0681EF );
    /* height: 700px; */
}

.pricing-heading-main{
    display: block;
    /* border: solid; */
    justify-content:space-around ;
    color: #fff;
    text-align: center;
    padding: 35px;
    font-size: 35px;
    letter-spacing: 2px;    
}

.pricing-cards{
    display: flex;
    /* width: 1600px; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* border: red solid; */
    /* align-content: center; */
    padding-top: 2em;    
    padding-bottom: 5em;
    column-gap: 2em;
    justify-content: center;
    /* grid-auto-flow: column; */
}

.pricing-card{
    display: grid;
    /* border: solid; */
    height: 500px;
    width: 300px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding-top: 20px;
    /* padding-left: 20px; */
}

.pricing-heading{
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
    /* margin-top: 10px; */
    /* border: solid; */
    height: 80px;
    position: relative;
    top: -20px;
    border-radius: 10px;
}

.pricing-description{
    position: relative;
    /* border: solid; */
    top: -48px;
    font-size: 14px;
    color: #758283;
    padding-left: 30px;
    border-radius: 10px;
}

.package-features>.features{
    position: relative;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: 10px;
    /* border: solid; */
    top: -20px;
    list-style-image: url(../images/checked.svg);
}

.pricing-card > .btn, .price, .cancel-anytime {
    justify-self: center;
}

.pricing-card:hover h2{
    background-color: grey;   
    color: #fff; 
}

.pricing-card:hover .pricing-description{
    background-color: gray;
    color: #fff;
}

.pricing-card:hover > .btn{
    color: #ffff;
    /* background-color: #0680EF; */
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #067eef9d 5%, #0680EF 100%);

}

.pricing-card > .btn{
    border: 2px #24A7FF solid;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 160px;
    font-size: 16px;
    font-weight: 400;
    color: #24A7FF;
    background-color: #ffff;
}

.btn:hover{      
    color: #ffff;
    /* background-color: #0680EF; */
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #067eef9d 5%, #0680EF 100%);        
}

.cancel-anytime{
    font-size: 10px;
    position: relative;
    top: -10px;
    color: #758283;
}

/* Pricing section End  */


/* Testimonaial section start */

.testmonial{
    /* max-width: 1600px; */
    display: grid;
    /* border: red solid; */
    text-align: center;
    background-color: #eef0f0;
    /* margin: auto; */
    
}

.testimonial-heading{
    font-size: 3em;
    letter-spacing: 2px;
    font-family: kanit;
    margin-top: 100px;
}

.testimonial-description{
    display: flex;
    font-size: 1em;
    /* border: solid; */
    text-align: center;
    padding: 2em;
    color: #758283;
    margin: auto;
}


.testmonial-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: green solid; */
    justify-self: center;
    gap: 20px;
    padding-bottom: 100px;
    /* display: flex;
    column-count: 3;
    flex-direction: row;
    column-gap: 2em;
    flex-flow: row;     */
}

.testimonial-card{
    /* width: 500px; */
    border: 2px #ced3d3ea solid;
    padding: 20px;
    margin: 1em;
}

.testimonial-card:hover{
    background-color: #fff;
    box-shadow: 0px 10px 14px -7px #505050;
    border: none;
}

.testimonial-card-description{
    text-align: left;
    font-size: 1em;
    color: #758283;
}

.customer-bullet{
    position: relative;
    /* border: solid; */
    left: -200px;
    top: -15px;
}

.customer, .customer-designation{
    position: relative;
    top: 35px;
    left: -80px;
}

/* END ** Testimonaial section  */

/* Start Large Footer with blue blackgroud image */

.large-footer{
    display: flex;
    flex-direction: row;
    background-image: url(../images/footer-bg.svg);
    color: white;
    /* max-width: 1600px; */
    padding: 2em;
    /* border: solid red; */
    column-gap: 2em;
}

.large-footer > *{
    flex: 1;
}

.large-footer-text
{
    display: flex;
    flex-direction: column;
    /* border: red solid; */
}
.large-footer h1{
    top: 2em;
    left: 2em;
    letter-spacing: 2px;
    font-weight: 700;
}
.large-footer-description{
    top: 70px;
    left: 200px;
    font-size: 15px; 
}

.large-footer-button{
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: right;
}

.large-footer button{
    /* /* position: relative; */
    /* left: 1200px; */
    background-color: transparent;
    color: white;
    height: 50px;
    border: 1px white solid; 
    /* align-self: center; */
}

/* END Large Footer with blue blackgroud image */

/*  Final Footer Section */

.footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 80px;
    padding-bottom: 100px;
    padding-right: 80px;
    gap: 80px;

}

.footer-logo-section{
    position: relative;
    left: 50px;
    width: 300px;
    /* padding-left: 80px; */
    /* border: solid; */
}

.footer-logo-img{
    width: 100px;
}
.footer-logo-desc{
    font-size: 12px;    
}

.footer-menu-items, .links-menu-items, .Overview-items{
    list-style: none;
    line-height: 32px;
    font-size: 12px;
}

.social-media, .menu-head{    
    font-size: 20px;
    font-weight: 600;
    padding-left: 2em;
}

.social-media-icons{
    position: relative;
    top: 1em;
    left: 1em;
    padding-top: 2em;
}

@media (max-width: 768px){
    .main-highlight-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .main-highlight-card-image{
      width: 50vw;
    }
  
    .right-side h1{
      font-family: Kanit;
      font-size: 6vw;
      text-align: center;
    }
    
    .right-side h4{
      font-family: poppins;
      color: #758283;
      font-size: 3vw;
      text-align: justify;
      padding: 6vw;
    }

    .image-2{
        order: 2;
      }

    .services-heading{
        /* display: flex; */
        flex-direction: column;   
        align-items: center;     
        justify-content: center;
        margin: auto;
        width: 50vw;
    }

    .services{
        /* border: solid blue; */
    }

    .service-cards{        
        grid-template-columns: 1fr;
    }

    .pricing-cards{
        flex-direction: column;
        margin: auto;
        row-gap: 2em;
    }

    .testmonial-cards{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2em;
        margin: auto;

    }
    .large-footer{
        flex-direction: column;
    }
  
    .large-footer-button{
        justify-content: center;
        padding-top: 1em;
    }
    .large-footer-text{
        row-gap: 1em;
        align-items: center;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-items{
        display: none;
    }

    .header{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
  }
